@include tablet{
    .iconos-nosotros{
        @include grid(3, 2rem);
    }
}
    

.icono{
    img{
        height: 6rem;
        margin-top: 5rem;
    }
    h3{
        text-transform: uppercase;
    }
}